{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "python",

    "SQL_CONNECTION_STRING": "Driver={ODBC Driver 18 for SQL Server};Server=tcp:YOUR_SERVER.database.windows.net,1433;Initial Catalog=InvoiceDB;Persist Security Info=False;User ID=YOUR_USER;Password=YOUR_PASSWORD;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;",
    "SHAREPOINT_SITE_URL": "https://YOUR_TENANT.sharepoint.com/sites/Accounts",
    "AZURE_CLIENT_ID": "<app-registration-client-id>",
    "AZURE_CLIENT_SECRET": "<app-registration-client-secret>",
    "AZURE_TENANT_ID": "<azure-ad-tenant-id>",
    "AZURE_DI_ENDPOINT": "https://YOUR_DI_RESOURCE.cognitiveservices.azure.com/",
    "AZURE_DI_KEY": "<document-intelligence-key>",
    "IGENTIC_ENDPOINT": "https://YOUR_IGENTIC_APP.azurewebsites.net/api/iGenticAutonomousAgent/Executor/<executor-id>",

    "WEBAPP_BASE_URL": "https://YOUR_STATIC_WEB_APP.azurestaticapps.net"
  }
}
